<div style="display: flex;">
  <div style="width: 50%; text-align: center;">
    <h1>ゲストログイン登録</h1>
    <p>ようこそゲストさん<br>
    あなたの到着を心から祝福します！ ここはあなたの好奇心を満たし、知識を豊かにし、新しい視野を開くための場所です。<br>
    どうぞ自由に探索し、楽しんでください。Welcome, guest!<br>
    We sincerely celebrate your arrival! This place is designed to satisfy your curiosity, enrich your knowledge, and open up new horizons. Please feel free to explore and enjoy.</p>
    <p><strong>Email:</strong> <%= f.email_field :email %></p>
    <p><strong>Password:</strong> <%= f.password_field :password %></p>
    <p><strong>Confirmation Password:</strong> <%= f.password_field :password_confirmation %></p>
    <p>利用規約とプライバシーポリシーの同意</p>
    <p>Agreement to the Terms of Use and Privacy Policy</p>
    <p>
      <%= f.radio_button :agreement, true %> 同意する（Agree)<br>
      <%= f.radio_button :agreement, false %> 同意しない（Disagree)
    </p>
    <%= f.submit "ゲスト登録 Guest Registration", class: "btn btn-pink" %>
    <%= image_tag("rhythm_raiders_logo2.jpg") %>
  </div>

  <div style="width: 50%;">
    <h2>利用規約とプライバシーポリシー</h2>
    <!-- 利用規約とプライバシーポリシーを記入する欄 -->
  </div>
</div>

<div style="position: fixed; bottom: 0; width: 100%; text-align: center;">
  ©20231225 Rhythm RAIDERS
</div>
