<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-12">
            <%= image_tag("rhythm_raiders_logo2.jpg", alt: "RhythmRAIDERSのロゴ", class: "img-fluid") %>
            <h2 class="display-5" style="color: red; -webkit-text-stroke: 1px grey;">メンバー管理</h2>
          </div>
          <div class="col-12 d-flex align-items-center justify-content-end">
            <%= link_to "LOGOUT", destroy_admin_session_path, method: :delete, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <%= image_tag("neom-rVC6O_gDE0Q-unsplash2.jpg", alt: "フリー画像", class: "img-fluid") %>
      </div>
    </div>
  </div>

  <body>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="col-2 white-text">UserName</th>
              <th class="col-1 white-text">Status</th>
              <th class="col-3 white-text">MusicTitle</th>
              <th class="col-6 white-text">Comment</th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td class="col-2 white-text"><%= link_to member.name, admin_member_path(member) %></td>
                <td class="col-1 white-text">
                  <% if member.active %>
                    <%= link_to '有効', '#', class: 'btn btn-primary' %>
                  <% elsif !member.active %>
                    <%= link_to '利用停止中', edit_admin_member_path(member), class: 'btn btn-dark' %>
                  <% else %>
                    <%= link_to '退会', '#', class: 'btn btn-danger' %>
                  <% end %>
                </td>
                <td class="col-3 white-text"><%= link_to (member.created_tracks.first&.title || 'No tracks created'), admin_member_path(member) %></td>
                <td class="col-6 white-text"><%= link_to (member.post_comments.first&.id || 'No comment'), admin_member_path(member) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= paginate @members %><!-- ここにページネーションの要素を追加 -->
    </div>
  </div>
  <footer class="text-center">
    ©20231225 RhythmRAIDERS
  </footer>
</body>
