<div class="table-responsive">
  <div style="position: fixed; top: 5px; right: 5px;">
    <%= image_tag("rhythm_raiders_logo1.jpg") %>
  </div>
    <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; position: relative; margin: 0 auto; width: 75%;">
      <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <h2 style="text-align: center; color: orange;">メンバー詳細</h2>
        <p style="word-wrap: break-word;"><strong style="color: orange;">Name:</strong> <%= @member.name %></p>
        <p style="word-wrap: break-word;"><strong style="color: orange;">CreaterName:</strong> <%= @member.creater_name %></p>
        <p><strong style="color: orange;">ProfileImage:</strong> <%= @member.profile_image.present? ? (image_tag @member.profile_image, style: "height: 115px; width: 115px;") : (image_tag "no_image.jpg", style: "height: 151px; width: 113px;") %></p >
        <p style="word-wrap: break-word;"><strong style="color: orange;">Email:</strong> <%= @member.email %></p>
        <p><strong style="color: orange;">PhoneNumber:</strong> <%= @member.phone_number %></p>
        <p><strong style="color: orange;">Gender:</strong> <%= @member.gender %></p>
      </div>
    </div>
    <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; position: relative; margin: 0 auto; width: 98%;">
      <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <h2 style="text-align: center; color: orange;">投稿コメント詳細</h2>
        <p style="word-wrap: break-word;"><strong style="color: orange;">PostComment:</strong></p>
        <% @member.post_comments.each do |comment| %>
          <div class="border p-2" style="word-wrap: break-word;">
            <%= comment.comment_content %>
            <%= link_to "Delete", admin_post_comment_path(comment.created_track, comment), method: :delete, data: {confirm: "削除しても良いですか？"} %>
          </div>
        <% end %>
      </div>
    </div>
    <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; position: relative; margin: 0 auto; width: 98%;">
      <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <h2 style="text-align: center; color: orange;">投稿楽曲詳細</h2>
        <% if @track.present? %>
          <div class="border p-2">
            <p class="m-0" style="word-wrap: break-word;"><strong style="color: orange;">Music Title:</strong> <%= @track.music_title %></p>
            <p class="m-0" style="word-wrap: break-word;"><strong style="color: orange;">Music Genre:</strong> <%= @track.music_genre %></p>
            <p class="m-0" style="word-wrap: break-word;"><strong style="color: orange;">A word from the creater:</strong> <%= @track.creater_word %></p>
          </div>
        <% else %>
          <p>トラックが存在しません。</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to edit_admin_member_path(@member), class: 'btn btn-primary', style: 'position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); padding: 15px 300px;' do %>
    To Edit
  <% end %>
</div>