<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="mt-2 mb-2">
        <div class="text-center">
          <div class="m-1" style="border: 1px solid #ff00ff; border-radius: 10px; padding: 10px;">
            <h2 class="m-0">
              <strong style="color: #f23f23;">メンバー詳細</strong>
            </h2>
            <p class="m-1" style="word-wrap: break-word;">
              <strong style="color: orange;">Name:</strong>
              <%= @member.name %>
            </p>
            <p class="m-1" style="word-wrap: break-word;">
              <strong style="color: orange;">CreaterName:</strong>
              <%= @member.creater_name %>
            </p>
            <p class="m-1">
              <strong style="color: orange;">ProfileImage:</strong>
              <%= @member.profile_image.present? ? (image_tag @member.profile_image, style: "height: 100px; width: 100px;") : (image_tag "no_image.jpg", style: "height: 100px; width: 100px;") %>
            </p >
            <p class="m-1" style="word-wrap: break-word;">
              <strong style="color: orange;">Email:</strong>
              <%= @member.email %>
            </p>
            <p class="m-1">
              <strong style="color: orange;">PhoneNumber:</strong>
              <%= @member.phone_number %>
            </p>
            <p class="m-1">
              <strong style="color: orange;">Gender:</strong>
              <%= @member.gender %>
            </p>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <div class="text-center">
          <div class="m-1" style="border: 1px solid #ff00ff; border-radius: 10px; padding: 10px;">
            <h2 class="m-0">
              <strong style="color: #f23f23;">投稿コメント詳細</strong>
            </h2>
            <p class="word-wrap: break-word;">
              <strong style="color: orange;">PostComment:</strong>
            </p>
            <% @member.post_comments.each do |comment| %>
              <div class="border p-2" style="word-wrap: break-word;">
                <%= comment.comment_content %>
                <%= link_to "Delete",
                    admin_post_comment_path(comment.created_track, comment),
                    method: :delete,
                    data: {confirm: "削除しても良いですか？"}
                %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <div class="text-center">
          <div class="m-1" style="border: 1px solid #ff00ff; border-radius: 10px; padding: 10px;">
            <h2 class="m-0">
              <strong style="color: #f23f23;">投稿楽曲詳細</strong>
            </h2>
            <% if @track.present? %>
              <% @member.created_tracks.each do |created_track| %>
                <div class="border p-2">
                  <p class="m-0" style="word-wrap: break-word;">
                    <strong style="color: orange;">Music Title:</strong>
                    <%= created_track.music_title %>
                  </p>
                  <p class="m-0" style="word-wrap: break-word;">
                    <strong style="color: orange;">Music Genre:</strong>
                    <%= created_track.music_genre %>
                  </p>
                  <p class="m-0" style="word-wrap: break-word;">
                    <strong style="color: orange;">A word from the creater:</strong>
                    <%= created_track.creater_word %>
                  </p>
                  <%= link_to "Track Delete",
                    admin_created_track_path(created_track.id),
                    method: :delete,
                    data: {confirm: "削除してもよろしいですか？"}
                  %>
                </div>
              <% end %>
            <% else %>
              <p>トラックが存在しません。</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-2 mb-2">
        <div class="text-center">
          <%= link_to edit_admin_member_path(@member), class: 'btn btn-primary' do %>
            To Edit
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="mt-2 mb-1">
        <div class="text-center">
          <%= image_tag("rhythm_raiders_logo1.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>