<div class="guest-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-1">
          <h1 class="text-center" style="color: red;">Rhythm RAIDERS</h1><br>
          <h3 class="text-center" style="color: red;">ゲストログイン完了</h3><br>
          <h3 class="text-center" style="color: orange;">Guest LogIn  Completed</h3>
        </div>
        <div class="text-center mb-1">
          <p class="text" style="color: black; text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray; font-size: 0.7em;">
            ようこそゲストさん<br>
            ゲストの皆様、試聴ボタンで30秒だけの楽曲をお楽しみいただけますが、新規登録をしていただくと全曲をご堪能いただけます。
            ぜひこの機会にご登録ください。<br>
            Welcome, Guest!
            As a guest, you can enjoy a 30-second preview of each song with the preview button. However, by registering as a new user, you can enjoy all songs in full. Please take this opportunity to register.
          </p>
        </div>
        <div class="text-center mb-2">
          <%= link_to 'Back to Home', member_top_path, method: :get, class: "button" %>
        </div>
        <!-- 楽曲の一覧を表示するエリア -->
        <% @created_tracks.each do |created_track| %>
          <div class="card mb-2">
            <div class="card-body">
              <div class="track-card">
                <div class="row">
                  <div class="col-md-8">
                    <div class="track-info">
                      <h3 class="mb-0" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: calc(20px + 1vw);">
                        <%= created_track.music_title %>
                      </h3>
                      <div class="card-text" style="font-size: calc(10px + 1vw);">Music Genre: <%= created_track.music_genre %></div>
                      <div class="card-text" style="font-size: calc(10px + 1vw);">Creater Name: <%= created_track.creater_name %></div>
                      <div class="card-text" style="font-size: calc(10px + 1vw);">A word from the creater: <p><%= created_track.creater_word %></p></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <%= render "layouts/player", created_track: created_track, is_guest: true %>
                  </div>
                  <!-- いいね機能の追加 -->
                  <div class="col-md-8 mt-1">
                    <div class="text-right">
                      <span class="like-button">
                        ♥<%= created_track.likes.count %> いいね
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pagination" style="display: flex; justify-content: center;">
      <% if @created_tracks.empty? %>
        <p class="text-danger">No records found.</p>
      <% else %>
        <p class="text-success">Records found.</p>
        <%= paginate @created_tracks %>
      <% end %>
    </div>
  </div>
</div>


