<div class="flex-container">
  <div class="container centered-content" style="width: 50%;">
    <h1>Rhythm RAIDERS</h1>
    <h3>ゲストログイン完了</h3>
    <h3>Guest LogIn  Completed</h3>
    <p>
      ようこそゲストさん<br>
      ゲストの皆様、試聴ボタンで30秒だけの楽曲をお楽しみいただけますが、新規登録をしていただくと全曲をご堪能いただけます。
      ぜひこの機会にご登録ください。<br>
      Welcome, Guest!
      As a guest, you can enjoy a 30-second preview of each song with the preview button. However, by registering as a new user, you can enjoy all songs in full. Please take this opportunity to register.
    </p>
    <!-- 楽曲の一覧を表示するエリア -->
    <div class="container">
  <% @created_tracks.each do |created_track| %>
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250 rounded track-card">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <%= created_track.music_title %>
            </h3>
            <p class="card-text mb-auto">Music Genre: <%= created_track.music_genre %></p>
            <p class="card-text mb-auto">A word from the creater: <%= created_track.creater_word %></p>
            <p class="card-text mb-auto">Creater Name: <%= created_track.creater_name %></p>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="playPreview(<%= created_track.id %>)">Preview</button>
          </div>
          <div class="col-auto d-none d-lg-block">
            <audio id="audio-player-<%= created_track.id %>" controls>
              <source src="<%= created_track.music_file %>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
function playPreview(id) {
  var audio = document.getElementById('audio-player-' + id);
  audio.currentTime = 0;
  audio.play();
}
</script>

    </div>
    <!-- ページネーションを表示するエリア -->
    <div class="pagination">
      <!--%= paginate @created_tracks unless @created_tracks.empty? % -->
    </div>
  </div>
</div>


