<div class="member-index">
  <div class="flex-container">
    <div class="container centered-content">
      <svg width="100%" height="100%" viewBox="0 0 600 80" preserveAspectRatio="xMidYMid meet">
        <defs>
          <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#ff0000; stop-opacity:1" />
            <stop offset="100%" style="stop-color:#000000; stop-opacity:1" />
          </linearGradient>
          <linearGradient id="gradient2" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#ffa500; stop-opacity:1" />
            <stop offset="100%" style="stop-color:#000000; stop-opacity:1" />
          </linearGradient>
        </defs>
        <text x="50%" y="50%" dy=".1em" text-anchor="middle" style="font: bold 40px Georgia; fill: url(#gradient1); stroke: grey; stroke-width: 1px;">Rhythm RAIDERS</text>
      </svg>
      <!-- 楽曲の一覧を表示するエリア -->
      <div class="navbar">
        <%= link_to 'Home', member_top_path, method: :get, class: "button" %>
        <%= link_to 'Mypage', mypage_member_customers_path, method: :get, class: "button" %>
        <%= link_to 'About', about_path, method: :get, class: "button" %>
        <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: "button" %>
      </div>

      <% @created_tracks.each do |created_track| %>
        <div class="card mb-2">
          <div class="card-body">
            <div class="track-card">
              <div class="row">
                <div class="col-md-8">
                  <div class="track-info">
                    <h3 class="mb-0" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: calc(20px + 1vw);">
                      <%= link_to created_track.music_title, member_created_track_path(created_track) %>
                    </h3>
                    <div class="card-text" style="font-size: calc(10px + 1vw);">Music Genre: <%= created_track.music_genre %></div>
                    <div class="card-text" style="font-size: calc(10px + 1vw);">Creater Name: <%= created_track.creater_name %></div>
                    <div class="card-text" style="font-size: calc(10px + 1vw);">A word from the creater: <p><%= created_track.creater_word %></p></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="controls">
                    <div class="play-pause">
                      <p class="play m-0"></p>
                      <p class="pause m-0"></p>
                      <p class="loading m-0"></p>
                      <p class="error m-0"></p>
                    </div>
                    <div class="time">
                      <div class="current-time">00:00</div>
                      <div class="total-time">00:00</div>
                    </div>
                    <div class="progress position-relative w-100 mb-2">
                      <div class="slider position-absolute w-100" style="height: 1rem;"></div>
                      <div class="loaded position-absolute" style="background-color: #f0f0f0; height: 1rem; top: 0;"></div>
                      <div class="pace position-absolute" style="background-color: #000; height: 1rem; top: 0;"></div>
                    </div>
                  </div>
                  <div>
                    <!-- いいね機能の追加 -->
                    <button type="button" class="like-button m-0 mb-2" onclick="likeTrack(<%= created_track.id %>, <%= !current_member.is_guest %>)">
                      <i class="fa-solid fa-thumbs-up"></i>
                      いいね！
                      <span id="like-count-<%= created_track.id %>">
                        <%= created_track.likes.count %>
                      </span>
                    </button>
                    <div>
                      <button type="button" class="btn btn-sm btn-outline-secondary1 m-0" onclick="playPreview(<%= created_track.id %>, <%= !current_member.is_guest %>)">Preview</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary stop-button m-0" id="stop-button" onclick="stopPreview">Stop</button><!-- 追加した停止ボタン -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="pagination" style="display: flex; justify-content: center;">
    <% if @created_tracks.empty? %>
      <p class="text-danger">No records found.</p>
    <% else %>
      <p class="text-success">Records found.</p>
      <%= paginate @created_tracks %>
    <% end %>
  </div>
  <footer style="text-align: center; position: fixed; bottom: 0; width: 100%;">
    <p>©20231225 Rhythm RAIDERS</p>
  </footer>

  <script>
    function likeTrack(trackId, isMember) {
      $.ajax({
        type: "POST",
        url: "/member/created_tracks/" + trackId + "/likes",
        data: { member_id: currentMemberId },
        success: function(response) {
          // いいねの数を更新
          $('#like-count-' + trackId).text(response.like_count);
        }
      });
    }

    function stopPreview() {
      var audios = document.getElementsByTagName('audio');
      for(var i = 0, len = audios.length; i < len; i++){
          audios[i].pause();
          audios[i].currentTime = 0;
      }
    }

    function playPreview(id, isMember) {
      var audio = document.getElementById('audio-player-' + id);
      var playpause = document.querySelector('.play-pause');
      var currentTime = document.querySelector('.current-time');
      var totalTime = document.querySelector('.total-time');
      var slider = document.querySelector('.slider');
      var loaded = document.querySelector('.loaded');
      var pace = document.querySelector('.pace');
      var stopButton = document.getElementById("stop-button");

      stopButton.addEventListener("click", function() {
        audio.pause(); // 音楽を一時停止
        audio.currentTime = 0; // 再生位置を初めに戻す
      });

      playpause.addEventListener('click', function() {
        if (audio.paused) {
            audio.play();
            playpause.classList.remove('play');
            playpause.classList.add('pause');
        } else {
            audio.pause();
            playpause.classList.remove('pause');
            playpause.classList.add('play');
        }
      });

      audio.addEventListener('timeupdate', function() {
        var curtime = parseInt(audio.currentTime, 10);
        currentTime.textContent = formatTime(curtime);
      });

      audio.addEventListener('durationchange', function() {
        var duration = parseInt(audio.duration, 10);
        totalTime.textContent = formatTime(duration);
      });

      // slider.addEventListener('click', function(e) {
      //   var pos = (e.pageX  - this.offsetLeft) / this.offsetWidth;
      //   audio.currentTime = pos * audio.duration;
      // });

      slider.addEventListener('click', function(e) {
        var sliderPos = this.getBoundingClientRect().left + window.pageXOffset
        var pos = (e.pageX - sliderPos) / this.offsetWidth;
        audio.currentTime = pos * audio.duration;
      });

      audio.addEventListener('timeupdate', function() {
        var pos = audio.currentTime / audio.duration;
        pace.style.width = pos * 100 + '%';
      });

      audio.addEventListener('progress', function() {
        // if (audio.buffered.length > 0) {
        //     var loaded = audio.buffered.end(audio.buffered.length - 1) / audio.duration;
        //     loaded.style.width = loaded * 100 + '%';
        // }
      });

      function formatTime(time) {
        var minutes = Math.floor(time / 60);
        var seconds = time - minutes * 60;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        return minutes + ':' + seconds;
      }

      audio.currentTime = 0;
      audio.volume = 1; // ボリュームを最大に設定
      audio.play();
    }
  </script>
</div>