<div class="member-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-1">
          <div class="text-center">
            <svg width="100%" height="100%" viewBox="0 0 600 80" preserveAspectRatio="xMidYMid meet">
              <defs>
                <linearGradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="0%" style="stop-color:#ff0000; stop-opacity:1" />
                  <stop offset="100%" style="stop-color:#000000; stop-opacity:1" />
                </linearGradient>
                <linearGradient id="gradient2" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="0%" style="stop-color:#ffa500; stop-opacity:1" />
                  <stop offset="100%" style="stop-color:#000000; stop-opacity:1" />
                </linearGradient>
              </defs>
              <text x="50%" y="50%" dy=".1em" text-anchor="middle" style="font: bold 40px Georgia; fill: url(#gradient1); stroke: grey; stroke-width: 1px;">Rhythm RAIDERS</text>
            </svg>
          </div>
          <!-- 楽曲の一覧を表示するエリア -->
          <div class="text-center">
            <div class="navbar">
              <%= link_to 'Home', member_top_path, method: :get, class: "button" %>
              <%= link_to 'Mypage', mypage_member_customers_path, method: :get, class: "button" %>
              <%= link_to 'About', about_path, method: :get, class: "button" %>
              <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: "button" %>
            </div>
          </div>
          <% @created_tracks.each do |created_track| %>
            <div class="card mb-2">
              <div class="card-body">
                <div class="track-card">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="track-info">
                        <h3 class="mb-0" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: calc(20px + 1vw);">
                          <%= link_to created_track.music_title, member_created_track_path(created_track) %>
                        </h3>
                        <div class="card-text" style="font-size: calc(10px + 1vw);">Music Genre: <%= created_track.music_genre %></div>
                        <div class="card-text" style="font-size: calc(10px + 1vw);">Creater Name: <%= created_track.member.creater_name %></div>
                        <div class="card-text" style="font-size: calc(10px + 1vw);">A word from the creater: <p><%= created_track.creater_word %></p></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <%= render "layouts/player", created_track: created_track, is_guest: false %>
                    </div>
                      <!-- いいね機能の追加 -->
                    <div class="col-md-8 mt-1">
                      <div class="text-right">
                        <% if created_track.liked_by?(current_member) %>
                          <div>
                            <%= link_to member_created_track_likes_path(created_track), method: :delete, class: "like-button" do %>
                              ♥<%= created_track.likes.count %> いいね
                            <% end %>
                          </div>
                        <% else %>
                          <div>
                            <%= link_to member_created_track_likes_path(created_track), method: :post, class: "like-button" do %>
                              ♡<%= created_track.likes.count %> いいね
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="pagination" style="display: flex; justify-content: center;">
      <% if @created_tracks.empty? %>
        <p class="text-danger">No records found.</p>
      <% else %>
        <p class="text-success">Records found.</p>
        <%= paginate @created_tracks %>
      <% end %>
    </div>
  </div>
</div>