<div class="track-show">
  <div class="track-show__inner">
    <h1 class="track-show__title">Music <span>Detail</span></h1>

    <div class="track-show__grid">
      <!-- 左: 楽曲 & 制作者情報 + プレーヤー + コメント投稿 -->
      <section class="ts-card">
        <h2 class="ts-heading">Music &amp; Creator</h2>

        <div class="ts-creator">
          <div class="ts-avatar">
            <%= image_tag @created_track.member.get_profile_image(100, 100) %>
          </div>
          <div class="ts-creator__meta">
            <p class="ts-creator__name">Creator : <%= @created_track.member.creater_name %></p>
            <div class="ts-stats">
              <%= link_to follows_member_customer_path(current_member), class: "ts-stat" do %>
                Follow <strong><%= @following_members&.count.to_i %></strong>
              <% end %>
              <%= link_to followers_member_customer_path(current_member), class: "ts-stat" do %>
                Follower <strong><%= @follower_members.count %></strong>
              <% end %>
            </div>
          </div>
        </div>

        <div class="ts-info">
          <p><span>Title</span><%= @created_track.music_title %></p>
          <p><span>Genre</span><%= @created_track.music_genre %></p>
          <p><span>Word</span><%= @created_track.creater_word %></p>
        </div>

        <div class="ts-actions">
          <% if @created_track && @created_track.liked_by?(current_member) %>
            <%= link_to member_created_track_likes_path(@created_track), method: :delete, class: "ts-btn ts-btn--like is-liked" do %>
              ♥ <%= @created_track.likes.count %>
            <% end %>
          <% else %>
            <%= link_to member_created_track_likes_path(@created_track), method: :post, class: "ts-btn ts-btn--like" do %>
              ♡ <%= @created_track.likes.count %>
            <% end %>
          <% end %>

          <% if member_signed_in? && @member == current_member %>
            <%= link_to 'プロフィール編集', edit_member_customer_path(@member), class: "ts-btn" %>
          <% end %>
          <% unless @created_track.member == current_member %>
            <% if current_member.following?(@created_track.member) %>
              <%= link_to 'フォロー外す', member_customer_relationships_path(@created_track.member), method: :delete, class: "ts-btn ts-btn--danger" %>
            <% else %>
              <%= link_to 'フォローする', member_customer_relationships_path(@created_track.member), method: :post, class: "ts-btn ts-btn--primary" %>
            <% end %>
          <% end %>
        </div>

        <div class="ts-player">
          <%= render "layouts/player", created_track: @created_track, is_guest: false %>
        </div>

        <div class="ts-comment-form">
          <%= form_with model: [@created_track, @post_comment], url: member_created_track_post_comments_path(@created_track) do |f| %>
            <%= render 'layouts/errors', model: @post_comment %>
            <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに", class: "ts-textarea" %>
            <div class="text-center mt-2">
              <%= f.submit "Post a Comment", class: "ts-btn ts-btn--primary ts-btn--block" %>
            </div>
          <% end %>
        </div>
      </section>

      <!-- 右: コメント一覧 -->
      <section class="ts-card">
        <h2 class="ts-heading">Comments <span><%= @created_track.post_comments.count %></span></h2>

        <% if @created_track %>
          <% @created_track.post_comments.each do |post_comment| %>
            <div class="ts-comment">
              <div class="ts-comment__head">
                <span class="ts-comment__name"><%= post_comment.member.creater_name %></span>
                <span class="ts-comment__date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
              </div>
              <div class="ts-comment__body"><%= simple_format(post_comment.comment_content) %></div>
              <%= link_to "削除",
                          member_created_track_post_comment_path(post_comment.created_track, post_comment),
                          method: :delete,
                          data: { confirm: "削除してもよろしいですか？" },
                          class: "ts-comment__del" %>
            </div>
          <% end %>
        <% end %>

        <div class="text-center mt-3">
          <%= link_to "♪ Music Index", member_created_tracks_path, class: "ts-btn ts-btn--primary" %>
        </div>
      </section>
    </div>
  </div>
</div>
