<div class="cover-member-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">フォロワー一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @members.each do |member| %>
      <div class="one-post card w-100">
        <%= link_to member_customer_path(member) do %>
        <p class="caption h4"><%= member.creater_name %></p>
        <div class="d-flex">
          <%= image_tag member.get_profile_image(100, 100)%>
          <h4 class="ml-5"><%= member.profile %></h4>
        </div>
        <p class="caption"><%= "#{member.posts.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>