<!DOCTYPE html>
<html>
  <head>
    <title>RhythmRaiders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d336be3f33.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="data:,"> <!-- 追加したコード -->
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="flash-message flash-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <footer class="container-fluid">
    <footer class="row text-center">
      <p>©20231225 Rhythm RAIDERS</p>
    </footer>
  </footer>
</html>
