<!DOCTYPE html>
<html>
  <head>
    <title>Rhythm RAIDERS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d336be3f33.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="data:,"> <!-- 追加したコード -->
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% flash.each do |message_type, message| %>
      <div class="flash-message flash-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <footer class="">
      <div class="text-center">
        <p class="m-0">©20231225 Rhythm RAIDERS</p>
      </div>
    </footer>
  </body>
</html>
